body {
    background-image: url('https://cdn.vox-cdn.com/thumbor/K-8qfU6c_gHlqwq7uW2uUWlnbME=/0x0:3543x2598/1200x0/filters:focal(0x0:3543x2598):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/674784/89777212.0.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
} 