@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header {
    display: flex;
    margin: 20px auto;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    background: white;
    width: 30%;
    height: 100px;
    opacity: 85%;
}

h1 {
    font-family: 'Anton', sans-serif;
    margin: auto;
    font-size: 2.5rem;
}