.results-container {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* height: 300px; */
    min-height: 100px;
    width: 75%;
    border-radius: 20px;
    background: white;
    opacity: 85%;
    overflow: visible;
}

p {
    font-size: 2rem;
    flex: 1;
}