@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.results-container {
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* height: 300px; */
    min-height: 100px;
    width: 75%;
    border-radius: 20px;
    background: white;
    /* opacity: 85%; */
    overflow: visible;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    flex: 1;
}